<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <style>
      .sideline {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        display: none;
      }
      
      @media (hover: hover) and (min-width: 1081px) {
          .sidenote:hover + .sideline {
            display: block;
          }
          .sidenote-number:hover + .margin-toggle + .sidenote + .sideline {
            display: block;
          }
      }
      </style>
    <script src="{{ "/assets/js/sideline.js" | relative_url }}"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <input type="checkbox" id="lightswitch">
    <div id="body">
      <div id="container">
    <header>
      {% include navigation.html %}
      <hr>
    </header>
    <section>
      {{ content }}
    </section>

      {% include footer.html %}
      </div>
  </div>
  <!-- Privacy-aware analytics by https://www.goatcounter.com/ -->
  <script data-goatcounter="https://smod.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  
  <!-- Colour theme switcher -->
  <script>
    const themeSwitch = document.querySelector('#lightswitch');
    themeSwitch.checked = localStorage.getItem('switchedTheme') === 'true';

    themeSwitch.addEventListener('change', function (e) {
        if(e.currentTarget.checked === true) {
            // Add item to localstorage
            localStorage.setItem('switchedTheme', 'true');
        } else {
            // Remove item if theme is switched back to normal
            localStorage.removeItem('switchedTheme');
        }
    });
  </script>
  </body>
</html>